__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
.vscode

db.sqlite3
*.sqlite3

node_modules
npm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
